<div class="container">

    <div class="kutu">

        <div class="kutu-1">

        </div>
        <div class="kutu-2">
            <p class="bilgi">Kitap Ekle</p>
            <div class="form-div">
                
                <form class="form-style-7" >
                    <ul>
                      <li>
                        <label for="name">Kitap Adi</label>
                        <input type="text" name="name" maxlength="100" />
                        <span>kitap adını giriniz</span>
                      </li>
                      <li>
                        <label for="email">Yazar Adi</label>
                        <input type="email" name="email" maxlength="100" />
                        <span>yazar adını giriniz.</span>
                      </li>
                      <li>
                        <label for="url">Sayfa Sayısı</label>
                        <input type="url" name="url" maxlength="100" />
                        <span>sayfa sayısını giriniz</span
                        >
                      </li>
                      <li>
                        <label for="bio">Kategori</label>
                        <input type="url" name="url" maxlength="100" />
                        <span>hangi kategoride oldugunu belirtiniz</span>
                      </li>
                      <li>
                        <label for="bio">Resim</label>
                        <input type="url" name="url" maxlength="100" />
                        <span>lütfen fotoğraf ekleyiniz.</span>
                      </li>
                      <li>
                        <input type="submit" value="Send This" />
                      </li>
                    </ul>
                  </form>
            </div>
           
        </div>

    </div>







</div>