<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Hakkimda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="books">Okuduklarım</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gezdiklerim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">İzlediklerim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link ">İletişim</a>
      </li>
  </ul>

  <div class="line"></div>