<!--
   <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Hakkimda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="books">Okuduklarım</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gezdiklerim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="movies">İzlediklerim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link ">İletişim</a>
      </li>

      <li>
        <div class="dropdown">
          <span>Ekle</span>
          <div class="dropdown-content">
            <a href="/books/book-add">Kitap Ekle</a> <br>
            <a href="#">Gezi Ekle</a> <br>
            <a href="movies/movies-add">Film Ekle</a>
          </div>
        </div>

      </li>

      
      
 
      
  </ul>




 
  

  <div class="line"></div>



-->


  




<div class="navbar">
  <div class="blogname">
      <ul>
          <li><a href="#">My Blog</a></li>
      </ul>

  </div>
  <div class="blog">
      <ul>
          <li class="a"><a href="#">İLETİŞİM</a></li>
          <li class="a"><a routerLink="books">OKUDUKLARIM</a></li>
          <li class="a"><a routerLink="movies">iZLEDİKLERİM</a></li>
          <li class="a"><a routerLink="trips">GEZDİKLERİM</a></li>
          
      </ul>
  </div>
</div>







 



